body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("/img/img.png");
    background-color: rgba(255,255,255,0.1);
    background-blend-mode: lighten;
    height: 200;
    width: 200;
    
}
div#content{
    background-color: #FCFCFC;
}
footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px ;
    padding: 16px 0;

}